body {
	background-color: ghostwhite;
}
.title_border {
	border: dashed;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
h1 {
	text-align: center;
}
.subtitle {
	padding-left: 120px;
}
.peer {
	color: purple;
}
.info {
	padding-left: 253px;
}

.onair {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: auto;
}
.hyperlink {
	padding-left: 260px;
}
.the_show {
	padding-left: 200px;
}
